:root {
  --dark-color: rgb(55, 53, 54);
  --yellow-color: rgb(226, 226, 60);
  --pink-color: rgb(246, 144, 214);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /*background-image: url(heart11.jpg); NAY´S IMAGE*/
}

.container {
  padding: 10px;
}

.text {
  text-align: left; /*STARTS FROM HERE*/
  text-shadow: 2px 2px 3px var(--dark-color);
  color: var(--yellow-color);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.9rem;
}

/*EFFECT*/
.typing h1 {
  overflow: hidden;
  border-right: 0.13em solid var(--yellow-color);
  white-space: nowrap;
  letter-spacing: 0.05em;
  animation: typing 4s steps(36, end), blinker 0.9s step-end infinite;
}

/*Effect width | keyframes control how H1-element appears*/
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/*This is how the cursor "blinks"*/
@keyframes blinker {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--yellow-color);
  }
}

/*MEDIA-QUERIES*/
@media screen and (max-width: 768px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  .container {
    padding: 0;
    width: 80%;
  }
  .text {
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 480px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
  }
  .container {
    padding: 0;
    width: 60%;
  }
  .text {
    font-size: 0.5rem;
  }
}
